<h2><%= @user.user_name%></h2>
<hr>
<p>LAST LOGIN AT: <%= @user.ip_address %></p>
<h3>이 유저가 등록한 글</h3>
<% @user.posts.each do |post| %>
    <%= link_to post.title, "/board/#{post.id}" %><br>
<% end %>